body{
  margin: 0;
  padding: 0;
}

.record-store-marker {
  background: none;
  cursor: pointer;
  border: none;
}

.record-store-marker img {
  width: 25px;
  height: 25px;
}

.cluster-marker {
  color: #FFF;
  background: lightslategrey;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}